body {
    background-image: url('theme/bg_white.png');
}

.dark {
    background-image: url('theme/bg_black.png');
    color: white;
}

input:checked + .slider::before {
    transform: translateX(26px);
}

.invert-color {
    filter: invert(1);
}

#toggleButton {
    margin-left: auto;
}
